<%- include('partials/menuheader') %>

<div class="container-fluid">

    <h2>Applying for Shop-status</h2>

    <div class="apply-page">

        <p>
            Upgrading user-status to shop-user entails certain key features such as being able to provide a url link to
            your company's website as well as the ability to update and upload promotions and news to your followers
            through the web application.
        </p>

        <p>
            In order to be elligible to change your account's user status to shop-user, we need certain documentation
            and
            proofs to ascertain your identity. Please send an email to <strong>orbitalbobaclub@gmail.com</strong> along
            with the documents listed below:
        </p>

        <ul>
            <li>
                <p>Employment Certificate</p>
            </li>
            <li>
                <p>Copy of NRIC of Representative Employee</p>
            </li>
            <li>
                <p>Work Permit</p>
            </li>
            <!-- <li> etc etc etc ...</li> -->
        </ul>

        <p>
            Once sent, please be patient and expect a reply of the outcome of your application within 5 working days. We
            look
            forward to receiving your applications.
        </p>

    </div>
    <div>
        <a href="/profile" type="button" class="btn btn-secondary" style="margin: 0;">Back</a>
    </div>

</div>


<%- include('partials/footer') %>