<%- include('partials/menuheader') %>

<body>
    <h2 class="post-title" style="margin: 16px 0 0 16px;">Start a thread</h2>
    <hr>
    <div class="container-fluid">
        <form class="compose-form" action="/compose" method="POST">
            <div class="form-group">

                <label for="exampleFormControlTextarea1">Title</label>
                <textarea class="form-control" placeholder="Title" id="exampleFormControlTextarea1" name="postTitle"
                    rows="1" required></textarea>
                <label class="mt-2" for="exampleFormControlTextarea1">Content</label>
                <textarea class="form-control" placeholder="Content" id="exampleFormControlTextarea1" name="postBody"
                    rows="6" required></textarea>
            </div>
            <a href="/forum/1" class="btn btn-secondary btn-lg col-lg4">Cancel</a>
            <button type="submit" class="btn btn-primary btn-lg col-lg4">Publish</button>
        </form>



    </div>
    <%- include('partials/footer') %>