<%- include('partials/menuheader') %>

<!-- similar to a home page -->
<% if (message.length > 0) { %>
<div class="alert alert-success" role="alert" style="margin-bottom: 0px;">
    <%= message %>
</div>
<% } %>

<body>
    <section id="title">
        <!-- Cover -->
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-6">
                    <h1 class="big-heading">Welcome back, <%= currUser %></h1>
                </div>

            </div>
        </div>

    </section>

    <section id="testimonials">

        <div id="testimonial-carousel" class="carousel slide" data-ride="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <h2 class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt.</h2>
                    <img class="testimonial-image" src="images/dog-img.jpg" alt="icon">
                    <button type="button" class="btn btn-secondary">Learn More</button>
                </div>
                <div class="carousel-item">
                    <h2 class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt.</h2>
                    <img class="testimonial-image" src="images/lady-img.jpg" alt="icon">
                    <button type="button" class="btn btn-secondary">Learn More</button>
                </div>

            </div>
            <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>

    </section>

    <footer id="footer">

        <p class="note">© Copyright 2020 BobaClub</p>

    </footer>

    <%- include('partials/footer') %>