<%- include('partials/header') %>
<link rel="stylesheet" href="css/stylesLogin.css">
<% if (message.length > 0) { %>
<div class="alert alert-danger" role="alert" style="margin-bottom: 0px;">
    <%= message %>
</div>
<% } %>
</head>


<body>
    <section id="title">

        <div class="d-flex justify-content-center align-items-center login-container">
            <form action="/register" method="POST" class="login-form text-center">
                <h1 class="mb-4 font-weight-light text-uppercase">Register</h1>
                <p>Please fill in this form to create an account.</p>
                <div class="form-group">
                    <input type="text" class="form-control rounded-pill form-control-lg" placeholder="Username"
                        name="username">
                </div>
                <!--we need to delete later -->
                <div class="form-group">
                    <input type="text" class="form-control rounded-pill form-control-lg" placeholder="Email"
                        name="email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control rounded-pill form-control-lg" placeholder="Password"
                        name="password">
                </div>
                <!-- we can delete later-->
                <div class="form-group">
                    <input type="password" class="form-control rounded-pill form-control-lg"
                        placeholder="Repeat Password" name="repeat-password">
                </div>
                <div class="forgot-link form-group d-flex justify-content-between align-items-center">
                </div>
                <button type="submit" class="btn mt-4 rounded-pill btn-lg btn-custom btn-block text-uppercase">Create
                    Account</button>
                <p class="mt-3 font-weight-normal">Already have an account? <a href="/login"><strong>Login
                            Now</strong></a></p>
            </form>
        </div>
    </section>

    <%- include('partials/footer') %>