body {
  font-family: "Montserrat";
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

#title {
  background-image: url("/images/tea.jpg");
  background-size: cover;
  height: 700px;
}

/* Headings */

.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 10% 7%;
}

#title {
  background-color: #fff;
  color: #f3f3f3;
}

/* Navigation Bar */

.navbar {
  padding: 0 16px;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 1rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 0.9rem;
  font-family: "Montserrat";
  font-weight: 300;
}

/* Features Section  */
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #333;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #d3d3d3;
}

/* Footer Section */
#footer {
  background-color: #333;
  padding: 7% 15%;
  text-align: center;
}

.note {
  padding-left: 16px;
}

.social-icon {
  margin: 20px 10px;
}

/* Testimonial Section */
#testimonials {
  text-align: center;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

/* new */

.option {
  color: #fff;
}

.option:hover {
  color: #333;
}

.row {
  margin: 0 0 0 0;
}

/* new */
.searchbar {
  margin-bottom: auto;
  margin-top: 2%;
  height: 60px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
  padding: 0 10px;
  width: 450px;
  caret-color: red;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
  background: white;
  color: #e74c3c;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  text-decoration: none;
}

.avatar-choose {
  margin-top: 6%;
}

.chooseFileCol {
  margin-top: 4%;
}

.update-info-btn {
  margin-top: 4%;
}
